@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.navbar {
    // display: none;
}

.section {
    position: relative;
    .video__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center bottom;
        }
    }
}

.text-center{
    text-align: center;
}
.scene__1 {
    background: url(../img/black__bg.png);
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
}
.gradient {
    background: linear-gradient(-90deg, #ab00ff 40%, #00fff6 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.green__gradient {
    background: linear-gradient(-90deg, #fb0 40%, #1bff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
.scene__2 {
    background: url(../img/black__bg.png);
    color: #ffffff;
    position: relative;
    z-index: 0;
    &::before {
        content:"";
        z-index: 1;
        position: absolute;
        height: 50px;
        width: 100%;
        left: 0;
        right: 0;
        top: -10px;
        background: linear-gradient(180deg, #181516 0%, #000000 100%);
    }
    &-block {
        max-height: 0;
        overflow: hidden;
        transition: all 6s ease-in-out;
    }
    &.active {
       .scene__2-block{
            max-height: 100%;
            transition: all 6s ease-in-out;
       } 
    }
    &-title {
        font-family: 'Bunken-Tech';
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 70px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    .section__text {
        max-width: 1135px;
        margin: 0 auto 66px;
        p {
            font-weight: 300;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 32px;
        }
    }
    .gradient__title {
        font-family: 'Bunken-Tech';
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0.2em;
    }
}
.scene__3 {
    position: relative;
    z-index: 0;
    background: url(../img/black__bg.png);
    color: #ffffff;
    &::before {
        content:"";
        z-index: 1;
        position: absolute;
        height: 50px;
        width: 100%;
        left: 0;
        right: 0;
        top: -10px;
        background: #000000;
    }
    &::after {
        content:"";
        z-index: 1;
        position: absolute;
        height: 10px;
        width: 100%;
        left: 0;
        right: 0;
  
        bottom: -10px;
        background: #000000;
    }
    background: url(../img/black__bg.png);
    color: #ffffff;
    &-block {
        max-height: 0;
        overflow: hidden;
        transition: all 6s ease-in-out;
    }
    &.active {
       .scene__3-block{
            max-height: 100%;
            transition: all 6s ease-in-out;
       } 
    }
    &-title {
        font-size: 32px;
        line-height: 56px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-family: 'Bunken-Tech';
    }
    .section__text {
        max-width: 1010px;
        margin: 0 auto 65px;
        p {
            font-weight: 300;
            font-size: 21px;
            line-height: 31px;
            margin-bottom: 21px;
            strong {
                font-weight: 600;
            }
            .gradient {
                font-weight: 600;
            }
        }
    }
}

.scene__4.active {
    .box-text {
        &.box {
            &-1 {
                bottom: 95px;
                left: 157px;
                h2 {
                    background: linear-gradient(-90deg, #e511ff 10%, #00fff6 100%);   
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
                max-height: 0;
                animation: scene_4-box-1 12s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
            &-2{
                top: 95px;
                right: 157px;
                h2 {
                    background: linear-gradient(-90deg, #fb0 10%, #1bff00 100%); 
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
                max-height: 0;
                animation: scene_4-box-2 20s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
            &-3 {
                bottom: 95px;
                left: 157px;
                max-height: 0;
                animation: scene_4-box-3 27s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
                &::before {
                    background: none;
                }
                h2 {
                    background: linear-gradient(-90deg, #e511ff 10%, #00fff6 100%);   
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
            }
        }
    }
}
@keyframes scene_4-box-1 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     25%, 95% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    30%, 90% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
  @keyframes scene_4-box-2 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     62%, 95% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    67%, 90% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
  @keyframes scene_4-box-3 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     75%, 96% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    79%, 92% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
.scene__5.active {
    .box-text {
        &.box {
            &-1 {
                &::before {
                    background: none;
                }
                bottom: 150px;
                left: 236px;
                h2 {
                    background: linear-gradient(-90deg, #fb0 10%, #1bff00 100%);  
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
                max-height: 0;
                animation: scene_5-box-1 8s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
            &-2{
                right: 77px;
                bottom:143px;
                h2 {
                    background: linear-gradient(-90deg, #e511ff 10%, #00fff6 100%);   
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
                max-height: 0;
                animation: scene_5-box-2 14s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
            &-3 {
                bottom: 66px;
                left: 173px;


                h2 {
                    background: linear-gradient(-90deg, #fb0 10%, #1bff00 100%);  

                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
                max-height: 0;
                animation: scene_5-box-3 22s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
            &-4 {
                bottom: 35%;
                left: 192px;
                &::before {
                    background: none;
                }
                h2 {
                    background: linear-gradient(-90deg, #e511ff 10%, #00fff6 100%);   
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    
                }
                max-height: 0;
                animation: scene_5-box-4 29s ease-in-out ; 
                overflow: hidden;
                padding:0  80px 0 70px;
            }
        }
    }
}
@keyframes scene_5-box-1 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     12.5% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    25%, 87% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
  @keyframes scene_5-box-2 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     57% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    64%, 93% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
  @keyframes scene_5-box-3 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     70% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    75%, 95% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
  @keyframes scene_5-box-4 {
    0%,100% { 
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
     81% {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
     }
    84%, 97% {
        padding-top: 45px;
        padding-bottom: 65px;
        max-height: 100%;
    }
  }
.box-text {
    position: absolute;
    max-width: 780px;
    z-index: 2;
    &::before {
        background: #000000;
        opacity: 0.6;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .line {
        z-index: 1;
        position: relative;
        transition: all 2s ease-in-out;
        &::before {
            content:"";
            position: absolute;
            left: 50%;
            right: 50%;
            border-bottom: 1px solid #ffffff;
            height: 1px;
            width: 178px;
            transition: all 2s ease-in-out;
        }
    }
    // height: 0;
    transition: all 2s ease-in-out;
    // overflow: hidden;
    // opacity: 0;
    opacity: 1;
    height: auto;

    transition: all 2s ease-in-out;
    .line {
        z-index: 1;
        position: relative;
        transition: all 2s ease-in-out;
        &::before {
            content:"";
            transition: all 2s ease-in-out;
            position: absolute;
            left: 0;
            right: 0;
            border-bottom: 1px solid #ffffff;
            height: 1px;
            width: 178px;
        }
    }

    h2 {
        padding-top: 33px;
        z-index: 1;
        font-size: 32px;
        line-height: 64px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
        font-family: 'Bunken-Tech';
    }
    p {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }

}




.team {
    background: url(../img/grey__bg.png);

    &__block {
        padding-top: 50px;
        max-width: 1282px;
        margin: 0 auto 65px;
        max-height: 0;
        overflow: hidden;
        transition: all 6s ease-in-out;
    }
    &.active {
       .team__block{
            max-height: 100%;
            transition: all 6s ease-in-out;
       } 
    }
    &__title {
        margin-bottom: 21px;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
    }
    &__text {
        margin-bottom: 70px;
        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 20px;
        }
    }
    &__people {
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        flex-wrap: wrap;
        .box {
            max-width: 253px;
            width: 100%;
            &:last-child {
                padding-top: 15px;
            }
        }
        img {
            max-width: 100%;
            width: 100%;
            margin-bottom: 30px;
        }
        .name {
            font-size: 24px;
            line-height: 44px;
            margin-bottom: 2px;
        }
        .position {
            font-size: 13px;
            line-height: 23px;
        }
    }
}


.scene__7 {
    .form {
        opacity: 1;
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 24px;
            line-height: 22px;
            margin-bottom: 30px;
            font-weight: 600;
        }
        .contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .form__control {
                width: 48%;
                display: flex;
                flex-direction: column;
                
                margin-bottom:  30px;
                &:first-child {
                    margin-right: 2%;
                }

                label {
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
                &.w-100 {
                    width: 100%;
                }
                input {
                    background: none;
                    height: 80px;
                    border-radius: 40px;
                    border: 1px solid #ffffff;
                    outline: none;
                    padding-left: 20px;

                    max-width: 100%;
                    margin: 0 auto;
                    width: 100%;
                }

            }
            .d-none {
                display: none;
            }
        }
        .social__block {
            margin-bottom: 90px;
            a {
                color:#ffffff;
                padding: 0 52px;
                font-size: 20px;
                line-height: 27px;
                font-weight: 300;
            }
        }
        .subscribe {
            display: flex;
            flex-direction: column;
            width: 100%;
            &__title {
                font-size: 20px;
                line-height: 27px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .form__control {
                height: 80px;
                border-radius: 40px;
                border: 1px solid #ffffff;
                display: flex;
                justify-content: space-between;
                position: relative;

                max-width: 100%;
                overflow: hidden;
                margin: 0 auto;
                width: 100%;
                input {
                    border: none;
                    background: none;
                    height: 100%;
                    width: 100%;
                    padding-left: 40px;
                    overflow: hidden;
                    border-radius: 40px;
                    outline: none;
                    &::placeholder {
                        color: #ffffff;
                    }
                }
                button {
                    position: absolute;
                    background: #ffffff;
                    height: 68px;
                    border-radius: 34px;
                    width: 216px;
                    border: none;
                    color: #000000;
                    font-size: 20px;
                    line-height: 27px;
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }
    &.active {
        .form {
            .form__control {
                input {
                    animation: form 3s ease-in-out;
                }
                &:nth-child(3){
                    input {
                        animation: form 4s ease-in-out;
                        
                    } 
                }
                &:nth-child(4){
                    input {
                        animation: form 5s ease-in-out;
                    } 
                }
            }
            
        }
        .subscribe {
            .form__control {
                animation: form 6s ease-in-out;
            }
        }
    }
}
@keyframes form {
    0% { 
        max-width: 0%;
     }
     100% {
        max-width: 100%;
     }
  }
.footer {
    padding-top: 75px;
    padding-bottom: 80px;
    .container {
        max-width: 1520px;
        padding: 0 20px;
        margin: 0 auto;
        width: 100%;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        &.one {
            margin-bottom: 110px;
        }
        &.two {
            align-items: center;
            .copy {
                font-size: 14px;
                line-height: 16px;
                margin-right: 300px;
            }
            .links {
                margin-right: auto;
                a {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 16px; 
                    margin-right: 55px;
                }
            }
            .design {
                font-size: 14px;
                line-height: 16px; 
            }
        }
        .social {
            &__title {
                margin-bottom: 22px;
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
            }
            &__block {
                display: flex;
                .box {
                    margin-right: 40px;
                    display: flex;
                    flex-direction: column;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: #ffffff;
                        margin-bottom: 4px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
.navbar {
    position: absolute;
    background: none;
    .burger__menu {
        display: flex;
        flex-direction: column;
        width: 40px;
        position: fixed;
        top: 100px;
        right: 100px;
        z-index: 10;
        cursor: pointer;
        height: 14px;
        span {
            cursor: pointer;
            position: absolute;
            width: 40px;
            height: 2px;
            background: #ffffff;
            &:nth-child(2) {
                top: 7px;
            }
            &:nth-child(3) {
                top: 14px;
            }
        }
    }
    .navmenu {
        height: 100vh;
        width: 100%;
        max-width: 0;
        overflow: hidden;
        position: fixed;
        transition: 2s ease-in-out all;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: 5;
        padding: 150px 0;
        background: #191516;
        &.active {

            max-width: 550px;
            transition: 2s ease-in-out all;
            padding: 150px 30px;
        }
        .nav {
            display: flex;
            width: 100%;
            flex-direction: column;
            li {
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
                a {
                    text-align: left;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-transform: uppercase;
                    font-family: 'Bunken-Tech';
                    &:hover, &:active, &:focus {
                        background: none;
                    }
                    &.text {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}